.login {
    width: 450px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
}
.login-area {
    border: solid 1px #dfdada;
    border-radius: 5px;
    padding: 15px;
}
.copyright {
    font-size: 0.75rem;
}